body{
    box-sizing: border-box;
}

.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 80%;
    aspect-ratio: 11/8;
    border: 1px solid red;
}


#left-wrapper, #right-wrapper, #status-wrapper{
    border: 1px solid black;
    box-sizing: border-box;
    float: left;
}

#left-wrapper, #right-wrapper{
    width: 50%;
    aspect-ratio: 10/11;
}

#left-wrapper img{
    margin: auto;
    width: 80%;
}

#right-wrapper button{
    width: 20%;
    aspect-ratio: 5/3;
}

#status-wrapper{
    width: 100%;
    aspect-ratio: 11/2;
}

#status{
    text-align: center;
    font-size: 50px;
    letter-spacing: 10px;
}